@import './variable';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  font-family: $font-family;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.clearfix:after {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.el-table td,
.el-table th.is-leaf {
  border-bottom: none!important;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 8px; /*滚动条宽度*/
  height: 12px; /*滚动条高度*/
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px; /*滚动条的背景区域的圆角*/
  background-color: white; /*滚动条的背景颜色*/
}
::-webkit-scrollbar-thumb {
  border-radius: 10px; /*滚动条的圆角*/
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #eeeeee; /*滚动条的背景颜色*/
}

//轮播图指示器样式
.el-carousel__button {
  height: 10px !important;
  width: 10px !important;
  border-radius: 350% !important;
}

.el-carousel__indicator:hover .el-carousel__button{
  background-color: $select-bg-color;
}


